<footer>
    <!-- <div class="footer-logo-container">
        <img src="/images/logowhite.png">
    </div><div class="contact-info"> -->
        <ul>
            <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-map-marker fa-stack-1x"></i>
                </span>
                Calle Manuel Marquez Sterling #34B Col.Centro, Del. Cuauthémoc, D.F, C.P.06000
            </li>
            <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone fa-stack-1x"></i>
                </span>
                1209 8548
            </li>
            <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
                fans@youtochi.com
            </li>
            <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-home fa-stack-1x"></i>
                </span>
                https://youtochichallenge.herokuapp.com/
            </li>
        </ul>
    <!-- </div> -->
</footer>
<div class="footer2">
    <div class="left-content">
        <p>Copyright youtochi®.</p><img src="/images/logochallenge.png"/>
        <p></p>
    </div><div 
    class="right-content">
        Política de Protección | Aviso de privacidad
    </div>
</div>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/notify.min.js"></script>
