<!DOCTYPE html>
<html>
<head>
    <title>Youtochi | Futuro </title>
    <%include includes/header.ejs%>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <style>
          #draggable {  
             position: fixed;
             bottom: 150;
             right: 50,width: 150px; height: 50px; padding: 0.5em ,background-color:#9a9aff; }
          #draggable02 {  
             position: fixed;
             bottom: 150;
             right: 50,width: 150px; height: 50px; padding: 0.5em,background-color:#9a9aff; }             
  </style>
     <script>
        alert("sii");
        
          $( function() {
    $( "#draggable" ).draggable();
    
    $( "#draggable02" ).draggable();
  } );
  
       $(function(){
          $("#postIt").draggable({
           handle:  '.topBar',
          }); 
       });
      </script>
</head>

<style>
@import url(https://fonts.googleapis.com/css?family=Lato);
body{
  background-color:#ecf0f1;
  overflow:hidden;
}
.topBar{
  z-index:21;
  position:absolute;
  width:400px;
  height:35px;
  background-color:#9a9aff;
}

.form{
  margin-top:40px;
  position:absolute;
  width:500x;
  height:400px;
  background-color:#b2b2ff;
}
.textAria{
  position:absolute;
  border-color:red;
  width:400px;
  height:400px;
  position:absolute;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria:focus{
  outline: 0;
}
.topBar02{
  z-index:22;
  position: relative;  
  left: 100px;
  width:300px;
  height:35px;
  background-color:#9a9aff;
}
.form02{
  margin-top:40px;
  z-index:23;
  position: relative; 
   left: 100px;
  width:200x;
  height:200px;
  background-color:#b2b2ff;
}
.textAria02{
  z-index:24;
  position: relative; 
   left: 100px;
  border-color:red;
  width:200px;
  height:100px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria02:focus{
  outline: 0;
}
</style>


<body>
   <div id="draggable02" class="ui-widget-content">
       <p>Empresas</p>
   </div>
    <div class="main">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/admin/dashboard/"><img src="/images/logochallenge.png" width="100" height="100"/></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href=""></a></li>
                    <li class="uk-parent"><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#login" uk-toggle><button class="uk-button uk-button-primary">COMENZAR SESION</button></a></li>
                </ul>
            </div>
        </nav>
   <div id="draggable" class="ui-widget-content">
  <p>Empleados</p>
</div>
        <div class="container basic uk-text-center admin">

            <h1>  futuro</h1>

                                <br />
                      <div id="postIt03">
                        <div class=topBar02>titulo 2</div>
                         <div class=form02>
                                <iframe src="https://youtochiempresa.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
                      </div>                      
          <br />

            <br />
            <div id="postIt04">
                        <div class=topBar>titulo1</div>
                         <div class=form>
                                <iframe src="https://youtochifuturo2.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria02>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
             </div>
<h1> Sección de futuro</h1>
            <br />
            <br />
           
        </div>
        
        
    </div>

    <!-- This is the modal -->
    <div id="login" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">INICIAR SESIÓN</h2>
            <form id="loginForm" action="/admin/login" method="POST" class="">
                <div class="uk-fieldset uk-grid-small">                            
                    
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email" name="email" required>
                    </div>
                    
                    <div class="uk-margin">
                        <input class="uk-input" type="password" placeholder="Password" name="password" required>
                    </div>
                
                </div>
                <p class="uk-text-center">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                    <button class="uk-button uk-button-primary" type="submit">Enviar</button>
                </p>
            </form>
        </div>
    </div>
    <% include includes/footer.ejs %>
</body>

</html>
