<!DOCTYPE html>
<html>
<head>
    <title>Youtochi | Futuro </title>
    <%include includes/header.ejs%>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <style>
          #draggable {  
             position: fixed;
             bottom: 150;
             right: 50,width: 150px; height: 50px; padding: 0.5em ,background-color:#9a9aff; }
          #draggable02 {  
             position: fixed;
             bottom: 150;
             right: 50,width: 150px; height: 50px; padding: 0.5em,background-color:#9a9aff; }             
  </style>
     <script>
        alert("sii9");
        
          $( function() {
    $( "#draggable" ).draggable();
    
    $( "#draggable02" ).draggable();
  } );
  
       $(function(){
          $("#postIt").draggable({
           handle:  '.topBar',
          }); 
       });
      </script>
</head>

<style>
@import url(https://fonts.googleapis.com/css?family=Lato);
body{
  background-color:#ecf0f1;
  overflow:hidden;
}
.topBar{
  z-index:21;
  position:absolute;
  width:400px;
  height:35px;
  background-color:#9a9aff;
}

.form{
  margin-top:40px;
  position:absolute;
  width:500x;
  height:400px;
  background-color:#b2b2ff;
}
.textAria{
  position:absolute;
  border-color:red;
  width:400px;
  height:400px;
  position:absolute;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria:focus{
  outline: 0;
}
.topMenu01{
  z-index:80;
  position: relative;  
 left: 400px;
 top: 200px; 
  border-color:red;
  width:200px;
  height:35px;
  background-color:#4a659a;
  color: white;
}
.topMenu02{
  z-index:81;
  position: relative;  
 left: 400px;
 top: 200px; 
  border-color:red;
  width:200px;
  height:35px;
  background-color:#4a659a;
  color: white;
}
.topBar02{
  z-index:22;
  position: relative;  
  left: 100px;
  width:300px;
  height:35px;
  background-color:#9a9aff;
}
.form02{
  margin-top:40px;
  z-index:23;
  position: relative; 
   left: 100px;
  width:200px;
  height:200px;
  background-color:#b2b2ff;
}
.textAria02{
  z-index:24;
  position: relative; 
   left: 100px;
  border-color:red;
  width:200px;
  height:100px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria02:focus{
  outline: 0;
}
.topBar03{
  z-index:30;
  position: relative;  
  left: 400px;
  top: -200px; 
  width:300px;
  height:35px;
  background-color:#9a9aff;
}
.form03{
  margin-top:40px;
  z-index:31;
  position: relative; 
   left: 400px;
   top: -200px; 
  width:200px;
  height:200px;
  background-color:#b2b2ff;
}
.textAria03{
  z-index:32;
  position: relative; 
   left: 400px;
   top: -200px; 
  border-color:red;
  width:200px;
  height:100px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria03:focus{
  outline: 0;
}
.topBar04{
  z-index:40;
  position: relative;  
  left: 600px;
  top: -200px; 
  width:300px;
  height:35px;
  background-color:#9a9aff;
}
.form04{
  margin-top:40px;
  z-index:41;
  position: relative; 
   left: 600px;
   top: -200px; 
  width:200px;
  height:200px;
  background-color:#b2b2ff;
}
.textAria04{
  z-index:42;
  position: relative; 
   left: 600px;
   top: -200px; 
  border-color:red;
  width:200px;
  height:100px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria04:focus{
  outline: 0;
}
.topBar05{
  z-index:40;
  position: relative;  
  left: 750px;
  top: -600px; 
  width:300px;
  height:35px;
  background-color:#9a9aff;
}
.form05{
  margin-top:40px;
  z-index:41;
  position: relative; 
   left: 750px;
   top: -600px; 
  width:200px;
  height:200px;
  background-color:#b2b2ff;
}
.textAria05{
  z-index:42;
  position: relative; 
   left: 750px;
   top: -600px; 
  border-color:red;
  width:200px;
  height:100px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria05:focus{
  outline: 0;
}
</style>


<body style="background-color:##2e2e49;">



    <div  style="background-color:##2e2e49;">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/admin/dashboard/"><img src="/images/logochallenge.png" width="100" height="100"/></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="javascript:void(0)" onclick="muestraEmpresas()">Empresas</a></li>
                    <li class="uk-parent"><a href="javascript:void(0)"  onclick="muestraEmpleados()">Empleados</a></li>
                    <li class="uk-parent"><a href="javascript:void(0)"  onclick="muestraServicios()">Servicios</a></li>
                    <li class="uk-parent"><a href="javascript:void(0)"  onclick="muestraSolicitudes()">Solicitudes</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#login" uk-toggle><button class="uk-button uk-button-primary">COMENZAR SESION</button></a></li>
                </ul>
            </div>
        </nav>

        <div class="container basic uk-text-center admin">

            <h1>  futuro</h1>

                                <br />
                      <div id="postIt03">
                        <div class=topBar02>EMPRESA</div>
                         <div class=form02>
                                <iframe src="https://youtochiempresa.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria02>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
                      </div>                      
          <br />

            <br />
            <div id="postIt04">
                        <div class=topBar03>EMPLEADO</div>
                         <div class=form03>
                                <iframe src="https://youtochifuturo2.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria03>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
             </div>
            <br />             
            <div id="postIt05">
                        <div class=topBar04>SERVICIOS</div>
                         <div class=form04>
                                <iframe src="https://youtochiservicios.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria04>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
             </div>
             
<h1> Sección de futuro</h1>
            <br />
            <div id="postIt06">
                        <div class=topBar02>SOLICITUDES</div>
                         <div class=form02>
                                <iframe src="https://youtochisolicitudes.herokuapp.com/" title="ww"></iframe>
                            <div contenteditable class=textAria02>
                               Hello, <b>Edit Me First</b>  me.
                            </div>
                         </div>
             </div>            
            <br />
           
        </div>
        
        
    </div>

    <!-- This is the modal -->
    <div id="login" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">INICIAR SESIÓN</h2>
            <form id="loginForm" action="/admin/login" method="POST" class="">
                <div class="uk-fieldset uk-grid-small">                            
                    
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email" name="email" required>
                    </div>
                    
                    <div class="uk-margin">
                        <input class="uk-input" type="password" placeholder="Password" name="password" required>
                    </div>
                
                </div>
                <p class="uk-text-center">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                    <button class="uk-button uk-button-primary" type="submit">Enviar</button>
                </p>
            </form>
        </div>
    </div>
    <% include includes/footer.ejs %>
</body>
<script>

function muestraEmpresas() {
    document.getElementById('postIt03').style.display="block";
    document.getElementById('postIt04').style.display="none";
    document.getElementById('postIt05').style.display="none";
    document.getElementById('postIt06').style.display="none";

}
function muestraServicios() {
    document.getElementById('postIt03').style.display="none";
    document.getElementById('postIt04').style.display="none";
    document.getElementById('postIt05').style.display="block";
    document.getElementById('postIt06').style.display="none";

}

function muestraEmpleados() {
    document.getElementById('postIt03').style.display="none";
    document.getElementById('postIt04').style.display="block";
    document.getElementById('postIt05').style.display="none";
    document.getElementById('postIt06').style.display="none";

}


</script>

</html>
