<!DOCTYPE html>
<html>
<head>
    <title>Leescúbrelo | Essay Writing Competition</title>
    <%include includes/header.ejs%>
</head>
<body>
    <div class="main">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/"><img src="/images/logo3.png"/></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href=""></a></li>
                    <li class="uk-parent"><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/"><button class="uk-button uk-button-primary">Procesando Pago a Continuar</button></a></li>
                    <li class="uk-active"><a href="/logout"><button class="uk-button uk-button-primary">CERRAR SESIÓN</button></a></li>
                </ul>
            </div>
        </nav>
        <div class="main-login-container uk-text-center" uk-text-center>
            <h1 class="purple">¡Gracias por participar! En un momento procesaremos su pago. Por favor actualice esta página en algún momento</h1>
            
        </div>
    </div>

    

    <% include includes/footer.ejs %>



    <script type="text/javascript">
        
        

    </script>
</body>
</html>