<nav class="uk-navbar subnav">
    <ul class="uk-navbar-nav">
<!--        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="dashboard">Solicitudes</a></li>
-->
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="users">Gestión de usuarios</a></li>
<!--        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="teachers">Gestión de Evaluadores</a></li>
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='teacher' "><a ui-sref="dashboard">Evaluación Fase 1</a></li>
        <li ui-sref-active="uk-active"><a ui-sref="teacherEvaluation">Evaluación Fase 2</a></li>
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='teacher' "><a ui-sref="robots">Robots</a></li></li>
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="coupons">Cupones</a></li>
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="transactions">Pagos Recibidos</a></li>
-->
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="schools">Robots</a></li></li>
        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="concursos">Cotizaciones</a></li></li>
<!--        <li ui-sref-active="uk-active" ng-if="navbarController.role=='admin'"><a ui-sref="finalists">Finalistas</a></li>
-->
    </ul>
</nav>
