<div class="container teachers" style="padding:30px">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1 uk-text-right">
            <button class="uk-button uk-button-primary" uk-toggle="target: #addConcurso" ng-click="concursosController.newconcurso.code=''; concursosController.newconcurso.name=''; concursosController.newconcurso.tipo='';concursosController.newconcurso.textoregla='';" type="button">+ AGREGAR CHALLENGE</button>
        </div>
        <div class="uk-width-1-1">
            <table class="uk-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Numero</th>
                        <th>Nombre</th>
                        <th>Ejecutivvo</th>
                        <th>Estatus</th>   
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="concurso in concursosController.concursos">
                        <td>{{concurso.id}}</td>
                        <td>{{concurso.numero}} </td>
                        <td>{{concurso.name}} </td>
                        <td>{{concurso.ejecutivo}} </td>
                        <td>{{concurso.status}} </td>                        
                        <td><button class="uk-button uk-button-warning" uk-toggle="target: #editConcurso" ng-click="concursosController.editConcurso(concurso);" style="margin-right: 5px;">Edit</button><button class="uk-button uk-button-danger" ng-click="concursosController.deleteConcurso(concurso, $index)">eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="addConcurso" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Agregar Challenge</h2>
        <div class="uk-width-1-1 uk-text-center">
            <form class="uk-form" actions="/admin/concurso/create" method="POST" ng-submit="concursosController.addConcurso()">
                <div><input type="text" name="numero" placeholder="Codigo Challenge" class="uk-input" ng-model="concursosController.newconcurso.numero" required></div>
                <div><input type="text" name="name" placeholder="Nombre Challenge" class="uk-input" ng-model="concursosController.newconcurso.name" required></div>
                <div><input type="text" name="ejecutivo" placeholder="Nombre Ejecutivo" class="uk-input" ng-model="concursosController.newconcurso.ejecutivo" required></div>
         
                </div>
                
                <div><input type="text" name="textoregla" placeholder="Reglas del Challenge" class="uk-input" ng-model="concursosController.newconcurso.textoregla" required></div>
                <button class="uk-button uk-button-primary" style="margin-top: 20px;">
                    Add
                </button>
            </form>
        </div>
    </div>
</div>


<div id="editConcurso" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Editar concurso</h2>
        <div class="uk-width-1-1 uk-text-center">
            <form class="uk-form" actions="/admin/concurso/edit" method="POST" ng-submit="concursosController.saveEditConcurso()">               
                <div><input type="text" name="name" placeholder="Nombre" class="uk-input" ng-model="concursosController.editconcurso.name" required></div>                
                <div>
                    <select class="uk-input" name="tipo" ng-model="concursosController.editconcurso.tipo" required>
                        <option value="ENSAYO">ENSAYO</option>
                        <option value="CUENTO">CUENTO</option>
                        <option value="RESEÑA">RESEÑA</option>
                        <option value="ARTÍCULO">ARTÍCULO</option>
                    </select>
                </div>
                
                <div><input type="text" name="textoregla" placeholder="Regla del Concurso" class="uk-input" ng-model="concursosController.editconcurso.textoregla" required></div>
                <div class="uk-margin">
                    <button class="uk-modal-close uk-button" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
